@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@400;500;600;700&display=swap');

/* Si se usa un ícono nuevo, agregar su nombre a "icon_names" (separados por coma) */
@import url('https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0&icon_names=keyboard_arrow_down,person,more_vert&display=block');
@import "tailwindcss";
@import "./styles/theme.css";

body {
  margin: 0;
  font-family: var(--font-display);
  background: var(--color-app-bg);
}
